.svg-fill-sky-50 {
    fill: #f0f9ff;
  }
  
  .svg-fill-sky-100 {
    fill: #e0f2fe;
  }
  
  .svg-fill-sky-200 {
    fill: #bae6fd;
  }
  
  .svg-fill-sky-300 {
    fill: #7dd3fc;
  }
  
  .svg-fill-sky-400 {
    fill: #38bdf8;
  }